@{
    ViewBag.Title = "Home Page";
}

<h1>Number Guessing Game</h1>

<p>Guess a number between 1 and 100</p>

<form id="form">
    <input id="input" type="text" placeholder="Enter Number"><br>
    <input class="button" type="submit" value="Submit">
</form>

<p id="hint"></p>

<button  class="button" id="resetButton">Play Again</button>